<a routerLink="/booking/passengers" routerLinkActive="active"
  >Booking Passengers</a
>
<a routerLink="/booking/select" routerLinkActive="active">Booking Select</a>
<a routerLink="/checkin/passengers" routerLinkActive="active"
  >Checkin Passengers</a
>
<a routerLink="/checkin/select" routerLinkActive="active">Checkin Select</a>

<div>
  Route Events
  <ngx-json-viewer
    [json]="flowManager.flowState | async"
    [expanded]="false"
  ></ngx-json-viewer>
</div>
<router-outlet></router-outlet>
